{% extends "gui/layout/base_site.html" %}
{% load static %}
{% block title %} Process data correlation analysis {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'process_analysis/c3js/c3.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'process_analysis/c3js/d3-tip.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>공정 데이터 상관관계 분석</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>공정 데이터</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% include "process_analysis/inc_heatmap_option.html" %}
                            <div id="waitingResult"> <i class="fa fa-spin fa-refresh fa-2x" aria-hidden="true"></i> </div>
                        </div>

                        <div class="x_content">
                            <div id="x_content_correlation"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> 상관관계 </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" id="x_content_ff">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> 상관관계 분석 테이블 </h2>
            
                            <div class="clearfix"></div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Input</th>
                                    <th>Output</th>
                                    <th>Corr</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>0.75123321</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>0.25684521</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>0.31958514</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}

<script src="{% static 'process_analysis/c3js/d3.v5.min.js'%}"></script>
<script src="{% static 'process_analysis/c3js/c3.min.js'%}"></script>

<script src="{% static 'process_analysis/c3js/d3-tip.min.js'%}"></script>
<script src="{% static 'process_analysis/c3js/boxplot.js'%}"></script>
<script src="{% static 'process_analysis/c3js/corellation.js'%}"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="{% static 'process_analysis/pages/decision_factory_input.js' %}"></script>
{% endblock javascripts %}

